<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Client Certificate Dashboard</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        #logArea { width: 100%; height: 300px; }
        button { margin-right: 10px; margin-bottom: 10px; }
        .input-group { margin-bottom: 10px; }
        label { margin-right: 10px; }
        input, textarea { margin-bottom: 10px; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Client Certificate Dashboard</h1>
        <div>
            <button id="getAllCertsBtn">Получить сертификаты CA</button>
            <button id="generateKeysBtn">Получить сертификат и ключи</button>
        </div>
        <div class="input-group">
            <h2>Отправка сообщения</h2>
            <label for="clientId">Client ID:</label>
            <input type="number" id="clientId" placeholder="Введите ID клиента" />
            <br />
            <label for="messageInput">Сообщение:</label>
            <textarea id="messageInput" placeholder="Введите сообщение"></textarea>
            <br />
            <label for="override_r">Изменить подпись (r):</label>
            <textarea id="override_r"></textarea>
            <br />
            <label for="override_s">Изменить подпись (s):</label>
            <textarea id="override_s"></textarea>
            <br />
            <button id="sendMessageBtn">Отправить сообщение</button>
        </div>
        <div class="input-group">
            <h2>Получение сообщения</h2>
            <button id="getMessageBtn">Получить сообщение</button>
        </div>
        <h2>Сообщение: {{mess}}</h2>
        <h2>Проверка подписи: {{check}}</h2>
        <h2>Лог операций</h2>
        <textarea id="logArea" readonly></textarea>
    </div>

    <script src="/static/app.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('generateKeysBtn').addEventListener('click', generateKeysAndCert);
            document.getElementById('getAllCertsBtn').addEventListener('click', getAllCerts);
            document.getElementById('sendMessageBtn').addEventListener('click', sendMessage);
            document.getElementById('getMessageBtn').addEventListener('click', getMessage);
        });
    </script>
</body>
</html>